@media screen and (max-width: 700px) {
    body {
        font-size: 10px;
    }

    main {
        border-radius: 15px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        border-left: 2px #E12850 solid;
        font-size: 16px;
    }

    small {
        font-size: 7px;
    }
}