body {
    margin: 0;
    /* フッター固定のため */
    padding-bottom: 10%;
    /* フッター固定のため */
    min-height: 100vh;
    background-color: #fff9e6;
    font-size: 25px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    /* フッター固定のため */
    position: relative;
}

/* パディングをサイズ内側にする処理 */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 {
    margin: 0;
    font-size: 35px;
    font-weight: bold;
}

h2 {
    font-size: 40px;
}

h3 {
    margin-bottom: 2%;
}

header {
    padding-left: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #040D64;
    color: #fff9e6;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
}

/* ボタンの箱 */
#btn_box {
    margin: 1.5%;
    width: 25%;
    display: flex;
    justify-content: end;
}

/* ヘッダーボタンの装飾等 */
#form_change_btn {
    padding: 5% 0;
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    border: 0;
    border-radius: 50px;
    background: linear-gradient(3.72deg, #00723d 0%, rgb(102, 199, 38) 100%);
    box-shadow: 0px 10px 10px rgb(255, 217, 191);
    cursor: pointer;
}

#form_change_btn:hover {
    background: #00723d;
    box-shadow: none;
    transform: translateY(2px);
    /* 上（Y）方向に4px動かす */
}

/* 「戻る」ボタンの箱 */
#return_btn {
    margin-top: 2%;
    margin-left: 2%;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #040D64;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
}

/* 「戻る」ボタンの装飾 */
.dli-arrow-left {
    display: inline-block;
    vertical-align: middle;
    color: #040D64;
    line-height: 1;
    position: relative;
    width: 1.4em;
    height: 0.2em;
    background: currentColor;
}

.dli-arrow-left::before {
    content: '';
    width: 0.8em;
    height: 0.8em;
    border: 0.2em solid currentColor;
    border-right: 0;
    border-bottom: 0;
    transform: rotate(-45deg);
    transform-origin: top left;
    position: absolute;
    top: 50%;
    left: -0.1em;
    box-sizing: border-box;
}

/* アンケートフォーム全体 */
#contact_main_box {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact,
#inquiry_main,
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* アンケートの各要素 */
table {
    margin: 5% 0 4%;
    width: 100%;
}

tr,
td {
    display: flex;
    align-items: center;
}

tr {
    margin-bottom: 3%;
}

th {
    padding-left: 20%;
    width: 40%;
    display: flex;
    align-items: center;
}

/* 「必須」または「任意」 */
.icon {
    width: 10%;
    justify-content: center;
}

/* 入力欄 */
.input {
    padding-right: 5%;
    width: 50%;
}

th label {
    display: flex;
    align-items: center;
}

/* 「必須」装飾 */
.mast_items,
.any_items {
    padding: 1%;
    width: 55%;
    border-radius: 8px;
    color: #fff9e6;
    text-align: center;
    background-color: rgb(255, 86, 35);
}

/* アンケート入力欄 */
.item input {
    padding: 1%;
    padding-right: 10%;
    border: 2px #040D64 solid;
    border-radius: 5px;
}

.item input:focus,
#contact_nump:focus,
#contact_text:focus {
    border: 3px rgb(255, 86, 35) solid;
    outline: none;
}

/* ご希望人数プルダウン */
#contact_nump {
    padding: 0.7% 1%;
    padding-right: 10%;
    border: 2px #040D64 solid;
    border-radius: 5px;
    text-align: center;
}

/* ご希望日カレンダー */
#contact_date {
    padding: 0.7% 2%;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}

#contact_date_box p {
    margin-left: 2%;
}

/* 「任意」装飾 */
.any_items {
    color: #212529;
    background-color: #DDDBDB;
}

/* ご要望入力欄 */
#contact_text,
#inquiry_text {
    padding: 1%;
    border: 2px #040D64 solid;
    border-radius: 5px;
    font-family: 'Noto Sans JP', sans-serif;
}

/* 送信ボタン */
.submit-btn {
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

.submit-btn input {
    height: 70px;
    width: 250px;
    color: #ffffff;
    font-weight: bold;
    border: 0;
    border-radius: 50px;
    background: linear-gradient(3.72deg, #E12850 0%, #F5873C 100%);
    box-shadow: 0px 10px 10px rgb(255, 217, 191);
    cursor: pointer;
}

.submit-btn input:hover {
    background: #E12850;
    box-shadow: none;
    transform: translateY(2px);
}

/* 留意事項 */
#note {
    margin: 0 5%;
    margin-bottom: 5%;
    padding: 3% 7%;
    border: 4px #040D64 solid;
    line-height: 1.8;
}

/* お問い合わせフォーム */
#inquiry {
    width: 100%;
    display: none;
}

#inquiry h2 {
    margin-bottom: 2%;
}

/* 「必須」装飾 */
.color_green {
    background-color: #00723d;
}

.focus_green input:focus,
#inquiry_text:focus {
    border: 3px rgb(102, 199, 38) solid;
    outline: none;
}

/* 送信ボタン */
#inquiry_submit-btn input {
    background: linear-gradient(3.72deg, #00723d 0%, rgb(102, 199, 38) 100%);
}

#inquiry_submit-btn input:hover {
    background: #00723d;
}

footer {
    /* フッター固定のため */
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #040D64;
    /* フッター固定のため */
    position: absolute;
    bottom: 0;
}

footer small {
    padding: 2% 0;
}