body {
    margin: 0;
    background-color: #fff9e6;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
}

/* パディングをサイズ内側にする処理 */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 86, 35);
    line-height: 100px;
    color: #ffffff;
}

header h1 {
    margin: 0;
}

#btn_box {
    margin-right: 2%;
    display: flex;
    justify-content: end;
}

#form_change_btn {
    padding: 20px 30px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    border-radius: 50px;
    background: linear-gradient(3.72deg, #00723d 0%, rgb(102, 199, 38) 100%);
    box-shadow: 0px 10px 10px rgb(255, 217, 191);
    cursor: pointer;
}

#form_change_btn:hover {
    background: #00723d;
    box-shadow: none;
    transform: translateY(2px);
    /* 上（Y）方向に4px動かす */
}

#return_btn {
    margin: 20px 10px;
    padding: 0 20px;
    border: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #fff9e6;
    cursor: pointer;
}

#return_btn p {
    margin: 0;
    color: #777777;
    font-size: 20px;
}
.dli-arrow-left {
    display: inline-block;
    vertical-align: middle;
    color: #777777;
    line-height: 1;
    position: relative;
    width: 1.4em;
    height: 0.27em;
    background: currentColor;
}

.dli-arrow-left::before {
    content: '';
    width: 0.85em;
    height: 0.85em;
    border: 0.27em solid currentColor;
    border-right: 0;
    border-bottom: 0;
    transform: rotate(-45deg);
    transform-origin: top left;
    position: absolute;
    top: 50%;
    left: -0.3em;
    box-sizing: border-box;
}

#main_box {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#request_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#note {
    margin-bottom: 30px;
    padding: 10px 60px;
    border: 4px #040D64 solid;
    font-size: 18px;
}

#inquiry_form {
    display: none;
}