@media screen and (max-width: 500px) {
    body {
        /* font-size: 8px; */
    }

    h1 {
        font-size: 11px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 13px;
    }

    /* ボタンの箱 */
    #btn_box {
        width: 45%;
    }

    th {
        padding-left: 10%;
    }

    .icon {
        width: 15%;
    }

    .input {
        /* font-size: 7px; */
    }

    #contact_text,
    #inquiry_text {
        width: 95%;
    }

    .consent_checkbox {
        transform: scale(0.9);
    }

    small {
        /* font-size: 5px; */
    }
}