@media screen and (max-width: 1300px) {
	body {
		font-size: 21px;
	}

	h2 {
		font-size: 40px;
	}

	h3{
		font-size: 30px;
	}

	.header nav {
		font-size: 19px;
	}

	#header_inquiry {
		width: 170px;
		font-size: 19px;
	}

	#top_image_text p {
		font-size: 25px;
	}

	#top_image_text h1 {
		font-size: 50px;
	}

	/* Growth Upプログラム */
	#top_title {
		font-size: 50px;
	}

	.text_appeal {
		font-size: 32px;
	}

	.solution_box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	#solution_box_geek {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column-reverse;
	}

	.solution_text_box {
		margin-top: 1%;
		margin-bottom: 4%;
		padding: 0 10%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#seminar_box {
		display: flex;
		justify-content: left;
		overflow-x: scroll;
	}

	#seminar_box::-webkit-scrollbar {
		height: 14px;
		/* スクロールバーの高さ */
	}

	#seminar_box::-webkit-scrollbar-thumb {
		background: #d2b48c;
		/* ツマミの色 */
		border-radius: 7px;
		/* ツマミ両端の丸み */
	}

	#seminar_box::-webkit-scrollbar-track {
		background: #fceed4;
		/* トラックの色 */
		border-radius: 3px;
		/* トラック両端の丸み */
	}

	.seminar_contents {
		margin: 2% 1%;
		padding: 5%;
		width: 59%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: rgb(0, 125, 160);
		flex-shrink: 0;
	}

	.seminar_contents_icon_box {
		padding: 5% 0;
	}

	.seminar_contents h3 {
		color: #ffffff;
	}

	.seminar_contents ul {
		margin-bottom: 0;
	}

	.seminar_contents li {
		margin-bottom: 0;
		color: #ffffff;
	}

	.course_price {
		font-size: 30px;
	}

	.course_contents_line small {
		font-size: 12px;
	}

	.voice_main_box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.voice_triple_box {
		margin-bottom: 5%;
		padding: 4%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.voice_text {
		margin-top: 0;
		margin-left: 6%;
	}
	
	.voice_customer {
		margin: 0;
	}
}