/*全体 共通
-----------------*/
body {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 25px;
	font-weight: bold;
	line-height: 1.8;
}

/* パディングをサイズ内側にする処理 */
* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

/*ーーーーーーーーーーー*/
/*この下から記述*/
/*ーーーーーーーーーーー*/

/* h2全体 */
h2 {
	margin-bottom: 5%;
	font-size: 50px;
	line-height: 1.5;
}

/* ヘッダー全体 */
.header {
	width: 100%;
	padding: 0.8% 1%;
	display: flex;
	justify-content: left;
	align-items: center;
	background-color: rgba(221, 219, 219, 0.8);
	z-index: 9999;
	/* 最前面に */
	position: fixed;
	/* 固定 */
}

/* ヘッダーのロゴの箱 */
.header div {
	width: 10%;
	line-height: 0.6;
}

/* ヘッダーのロゴ */
.header img {
	width: 45%;
}

/* ヘッダーのテキストの箱 */
.header nav {
	width: 90%;
	display: flex;
	justify-content: right;
	align-items: center;
	font-size: 28px;
}

/* ヘッダーリンク */
/* リンクをクリックする前 */
.header a:link {
	margin: 0 2%;
	color: #040D64;
}

/* リンクをクリックした後 */
.header a:visited {
	color: #040D64;
}

/* マウスカーソル合わせた時 */
.header a:hover {
	text-decoration: underline;
	color: #040D64;
}

/* 「お問い合わせ」ボタン詳細 */
#header_inquiry {
	margin: 0 2%;
	padding: 2% 0;
	width: 230px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 23px;
	background: linear-gradient(93.72deg, #E12850 0%, #F5873C 100%);
	border-radius: 50px;
	box-shadow: 0px 10px 10px rgba(255, 224, 191, 1);
	cursor: pointer;
}

/* 「お問い合わせ」ボタンクリック時 */
#header_inquiry:hover {
	background: #E12850;
	box-shadow: none;
	transform: translateY(2px);
	/* 上（Y）方向に4px動かす */
}

#header_inquiry a {
	color: white;
}

/* mainイメージ */
.top_image {
	/* 背景画像のサイズ調整 */
	width: 100%;
	aspect-ratio: 1920 / 970;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	background-image: url(../img/main_image.png);
	background-size: 100%;
}

/* 大人数でも・・ */
#top_image_text {
	margin-left: 5%;
	height: 40%;
	color: #fdfbfb;
	line-height: 1.4;
}

#top_image_text p {
	font-size: 35px;
}

#top_image_text h1 {
	font-size: 65px;
	letter-spacing: 0.08em;
	text-shadow: 1px 1px 1px #DDDBDB;
}

/* Growth Upプログラム */
#top_title {
	margin-left: 5%;
	height: 45%;
	color: #fdfbfb;
	font-size: 65px;
	text-shadow: 2px 2px 2px #040D64;
}

/* 問題提起セクション */
.problem {
	margin: 9% 5% 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.under_bar {
	width: fit-content;
	background: linear-gradient(transparent 30%, #fffd6d 0%);
	text-underline-position: above;
	line-height: 0.8;
}

#problem_title {
	margin-bottom: 4%;
}

.problem ul {
	padding: 4% 7%;
	border: 5px #004984 solid;
}

.text_appeal {
	color: #E12850;
	font-size: 40px;
}

/* ▼ */
.dli-caret-down {
	margin: 12%;
	vertical-align: middle;
	color: #040D64;
	border-style: solid;
	border-color: transparent;
	border-width: 5.84952em 4.575em;
	border-top-color: currentColor;
	border-bottom: 0;
	border-radius: 5px;
}

/* 解決方法 */
#solution_title {
	margin-bottom: 3%;
	display: flex;
	justify-content: center;
}

/* 「solution」の箱 */
.solution_box {
	display: flex;
	justify-content: center;
}

/* 3つの画像 */
.solution_img {
	width: 40%;
}

/* 1枚目の画像 */
.solution_first_img {
	width: 100%;
	aspect-ratio: 682 / 450;
	background-image: url(../img/solution_01.png);
	background-size: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: transparent;
	border-radius: 7px;
}

/* 2枚目の画像 */
.solution_second_img {
	width: 100%;
	aspect-ratio: 682 / 450;
	background-image: url(../img/solution_02.png);
	background-size: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: transparent;
	border-radius: 7px;
}

/* 3枚目の画像 */
.solution_third_img {
	width: 100%;
	aspect-ratio: 682 / 450;
	background-image: url(../img/solution_03.png);
	background-size: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: transparent;
	border-radius: 7px;
	filter: blur(2px);
}

/* 「solution」textの箱 */
.solution_text_box {
	padding: 0 2%;
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 7px;
	/* background-color: rgb(248, 243, 243); */
	/* box-shadow: inset 0px 0px 25px 1px rgba(0, 0, 0, 0.23); */
}

/* セミナー内容紹介セクション */
#seminar {
	margin-top: 6%;
	width: 100%;
	border-top: 3px #DDDBDB solid;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* タイトル */
#seminar_title {
	margin-top: 6%;
	display: flex;
	flex-direction: column;
	color: #123474;
}

/* 土台のBOX */
#seminar_box {
	margin: 3% 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

/* 各コンテンツ共通 */
.seminar_contents {
	margin: 0 1%;
	padding: 0 0.5%;
	width: 20%;
	background-image: linear-gradient(180deg, rgba(0, 117, 148, 1) 7%, rgba(255, 255, 255, 0));
	border-radius: 25px;
}

/* アイコンを表示するためのBOX */
.seminar_contents_icon_box {
	padding: 10% 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* アイコン共通 */
.seminar_contents_icon {
	width: 200px;
	height: 200px;
	background-color: #ffffff;
	border-radius: 100px;
}

.seminar_contents h3 {
	margin-bottom: 13%;
	font-size: 30px;
	text-align: center;
}

.seminar_contents ul {
	margin-bottom: 40%;
}

.seminar_contents li {
	margin-bottom: 5%;
	color: #555555;
}

#contents_icon_first {
	background-image: url("../img/contents_icon_01.png");
}

#contents_icon_second {
	background-image: url("../img/contents_icon_02.png");
}

#contents_icon_third {
	background-image: url("../img/contents_icon_03.png");
}

#contents_icon_forth {
	background-image: url("../img/contents_icon_04.png");
}

/* ループ画像を作る */
.loop_img {
	margin-top: 10%;
	margin-bottom: 5%;
	display: flex;
	overflow: hidden;
}

@keyframes loop {
	0% {
		transform: translateX(100%);
	}

	to {
		transform: translateX(-100%);
	}
}

@keyframes loop2 {
	0% {
		transform: translateX(0);
	}

	to {
		transform: translateX(-200%);
	}
}

.loop_img img:first-child {
	animation: loop 50s -25s linear infinite;
}

.loop_img img:last-child {
	animation: loop2 50s linear infinite;
}

/* 「お問い合わせ」ボタン配置 */
.inquiry_box {
	margin: 8% 0 5%;
	display: flex;
	justify-content: center;
}

/* 「お問い合わせ」ボタン詳細 */
.inquiry {
	padding: 2% 10%;
	color: white;
	font-size: 30px;
	font-weight: bold;
	background: linear-gradient(93.72deg, #E12850 0%, #F5873C 100%);
	border-radius: 100px;
	box-shadow: 0px 10px 10px rgba(255, 224, 191, 1);
	cursor: pointer;
}

/* 「お問い合わせ」ボタンクリック時 */
.inquiry:hover {
	background: #E12850;
	box-shadow: none;
	transform: translateY(2px);
	/* 上（Y）方向に4px動かす */
}

/* 「COURSE」を上下に4分割した内の一番上 */
#course {
	margin-top: 7%;
	padding: 8% 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(90deg, rgba(38, 115, 199, 1), #005272);
	color: #ffffff;
}

#course h2 {
	margin: 0;
	vertical-align: middle;
}

/* 「COURSE」 */
.course_grid_box {
	margin: 4% 0 8%;
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	row-gap: 10%;
}

.course_title {
	padding-bottom: 5%;
	display: flex;
	border-bottom: 4px #fdfbfb solid;
	justify-content: center;
	align-items: center;
	font-size: 35px;
}

.course_grid_box div {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* 「お客様の声」全体 */
#voice {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#voice_title {
	margin-top: 6%;
	margin-bottom: 4%;
	color: #123474;
}

/* 「お客様の声」 */
.voice_main_box {
	padding: 0 5%;
	display: flex;
	justify-content: center;
	flex-shrink: 1;
	/*各要素の幅を最大限伸ばす */
}

/* 「お客様の声」の3box */
.voice_triple_box {
	margin: 1%;
	padding: 4% 2%;
	width: calc(100% / 3);
	border: 3px #040D64 solid;
	border-radius: 20px;
	cursor: pointer;
	transition: .3s ease-out;
	background-color: #f7f7f7;
	box-shadow: 5px 5px 5px rgb(201, 201, 201)
}

.voice_triple_box:hover {
	transform: translateX(-3px) translateY(-8px);
}

/* アイコンを表示するためのBOX */
.voice_icon_box {
	padding-bottom: 8%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* アイコン共通 */
.voice_icon {
	width: 150px;
	height: 150px;
	box-shadow: -5px -5px 15px 7px rgba(216, 216, 216, 0.8), 5px 5px 15px 7px rgba(216, 216, 216, 0.8);
	border-radius: 100px;
}

#voice_icon_first {
	background-image: url(../img/voice_img_01.png);
}

#voice_icon_second,
#voice_icon_third {
	background-image: url(../img/voice_img_02.png);
}

.voice_customer {
	margin-bottom: 8%;
	color: #040D64;
}

.voice_appeal_word {
	font-size: 30px;
	background: linear-gradient(900deg, #E12850 0.1%, #F5873C 42.72%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	line-height: 1.5;
}

/* 「会社概要」セクション全体 */
#prof {
	margin-top: 10%;
	padding: 10% 5% 3%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #040D64;
}

.prof_main_box {
	margin-bottom: 3%;
	padding: 4% 3%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	background-color: #f7f7f7;
}

#prof_ceo_box {
	width: 100%;
	display: flex;
	justify-content: center;
}

#prof_ceo_img_box {
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#prof_ceo_img_box img {
	width: 100%;
	margin-bottom: 8%;
	border-radius: 25px;
	box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
}

#prof_ceo_grid {
	padding-left: 3%;
	width: 60%;
	display: grid;
	grid-auto-rows: 1fr;
}

#prof_ceo_grid h3 {
	padding-left: 3%;
	display: flex;
	align-items: center;
	font-size: 30px;
	border-bottom: 3px #040D64 solid;
}

#prof_ceo_grid p {
	padding-left: 8%;
	display: flex;
	align-items: center;
	border-bottom: 2px #dbdbdb solid;
}

#prof_corporate_box {
	padding: 6%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	background-color: #f7f7f7;
}

#prof_corporate_grid {
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 0.5fr 0.5fr 0.5fr 2fr;
	grid-template-columns: 20% 80%;
	column-gap: 5%;
}

#prof_corporate_grid p {
	width: 100%;
	display: flex;
	align-items: center;
}

#prof_grid_title_business {
	grid-row: -5 / -2;
	grid-column: 1 / 2;
}

#prof_corporate_grid div {
	padding-top: 5%;
	display: flex;
	justify-content: center;
	grid-row: -2 / -1;
	grid-column: 1 / 3;
}

#prof_corporate_grid img {
	width: 28%;
}

/* フッター */
.footer {
	display: flex;
	align-items: center;
	background-color: #040D64;
	color: #ffffff;
}

.footer p {
	margin-left: 18%;
	width: 80%;
	text-align: center;
}

/* 「トップへ戻る」ボタンの箱 */
.to_top_button_box {
	width: 20%;
	display: flex;
	justify-content: end;
}

/* 「トップへ戻る」ボタン */
.to_top_button {
	margin: 3% 6%;
	width: 80px;
	height: 80px;
	background: linear-gradient(93.72deg, #E12850 0%, #F5873C 100%);
	border-radius: 50%;
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
	box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
	transition: .2s ease-out;
}

.dli-arrow-up {
	display: inline-block;
	vertical-align: middle;
	color: #ffffff;
	line-height: 1;
	position: relative;
	width: 0.2em;
	height: 1em;
	background: currentColor;
}

.dli-arrow-up::before {
	content: '';
	width: 0.65em;
	height: 0.65em;
	border: 0.2em solid currentColor;
	border-left: 0;
	border-bottom: 0;
	transform: rotate(-45deg);
	transform-origin: top right;
	position: absolute;
	top: -0.05em;
	right: 50%;
	box-sizing: border-box;
}

.to_top_button:hover {
	line-height: 55px;
	box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.35);
	transform: translate(-1%, -3%);
}