@media screen and (max-width: 500px) {
	body {
		/* font-size: 7px; */
		font-weight: 100;
	}

	h2 {
		font-size: 15px;
	}

	h3 {
		/* font-size: 12px; */
	}

	.header {
		display: none;
	}

	.header nav {
		/* font-size: 7px; */
	}

	#header_inquiry {
		/* width: 60px; */
		/* font-size: 7px; */
		box-shadow: 0px 1px 10px rgba(255, 224, 191, 1);
	}

	#header_inquiry:hover {
		transform: translateY(0.5px);
	}

	#top_image_text p {
		/* font-size: 9px; */
		font-weight: bold;
	}

	#top_image_text h1 {
		font-size: 17px;
		text-shadow: none;
	}

	/* Growth Upプログラム */
	#top_title {
		font-size: 17px;
		font-weight: bold;
	}

	.text_appeal {
		font-size: 12px;
		font-weight: bold;
	}

	.solution_text_box {
		padding: 0 22%;
	}

	.inquiry {
		font-size: 15px;
	}

	.seminar_contents {
		width: 80%;
	}

	.seminar_contents_icon {
		width: 90px;
		height: 90px;
		background-position: center;
		background-size: 100%;
	}

	.loop_img img {
		height: 100px;
	}

	/* 各プランの箱 */
	.course_plan_box {
		width: 50%;
	}

	#course_contact_flow {
		width: 100%;
		border: 1px #ccc solid;
	}

	.course_plan_box h3 {
		margin-bottom: 0;
		font-size: 15px;
	}

	.course_price {
		/* font-size: 12px; */
		font-weight: bold;
	}

	.course_contents_line small {
		/* font-size: 4px; */
	}

	.voice_triple_box:hover {
		transform: none;
	}

	.voice_icon {
		width: 60px;
		height: 60px;
		box-shadow: -1px -1px 15px 2px rgba(216, 216, 216, 0.8), 1px 1px 15px 2px rgba(216, 216, 216, 0.8);
		background-position: center;
		background-size: 100%;
	}

	.voice_customer {
		font-size: 10px;
	}

	.voice_appeal_word {
		font-size: 12px;
	}

	#prof_ceo_img_box {
		width: 35%;
		font-size: 7px;
	}

	#prof_ceo_grid {
		width: 65%;
	}

	#prof_ceo_grid h3 {
		border-bottom: 1.5px #040D64 solid;
		font-size: 12px;
	}

	#prof_ceo_grid p {
		border-bottom: 1px #dbdbdb solid;
		font-size: 9px;
	}

	.footer small {
		margin-left: 12%;
	}

	.to_top_button {
		width: 35px;
		height: 35px;
	}
}