@media screen and (max-width: 1000px) {
	body {
		font-size: 17px;
	}

	h2 {
		font-size: 33px;
	}

	h3 {
		font-size: 25px;
	}

	.header img {
		width: 50%;
	}

	.header nav {
		font-size: 16px;
	}

	#header_inquiry {
		width: 140px;
		font-size: 15px;
	}

	#top_image_text p {
		font-size: 20px;
	}

	#top_image_text h1 {
		font-size: 35px;
	}

	/* Growth Upプログラム */
	#top_title {
		font-size: 35px;
	}

	.text_appeal {
		font-size: 26px;
	}

	.solution_text_box {
		padding: 0 18%;
	}

	.seminar_contents_icon {
		width: 150px;
		height: 150px;
		background-position: center;
		background-size: 100%;
	}

	.loop_img img {
		height: 200px;
	}

	.course_plan_box h3 {
		margin-bottom: 7%;
	}

	.course_price {
		font-size: 25px;
	}

	.course_contents_line small {
		font-size: 10px;
	}

	.voice_appeal_word {
		font-size: 26px;
	}

	.to_top_button {
		width: 60px;
		height: 60px;
	}
}