@media screen and (max-width: 700px) {
    body {
        font-size: 11px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 13px;
    }

    #thanks_text {
        margin: 0 5%;
    }

    #company_data li,
    span,
    small {
        font-size: 10px;
    }
}